.code {
  place-self: center;

  &__block {
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.7;

    padding-top: 5rem;

    &__title {
      display: inline-block;
    }
  }
}

@media (max-width: 900px) {
  .code__block {
    font-size: 1.5rem;
  }
}

@media (max-width: 640px) {
  .code__block {
    font-size: 1.2rem;
  }
}
